#root {
  margin: 0 auto;
  padding: 2rem;
}

body {
  min-height: 100vh;
  background-color: #b2b4b2;
}

.intro {
  text-align: center;
}

.intro h1 {
  color: #514689;
}

.navbar {
  background-color: #707372;
  border-radius: 40px;
}

.nav-link {
  color: #a7a4e0;
}

.navbar .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
}